.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  font-family: 'Poppins';
  font-size: 30px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.boxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.landingButton {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
  background-color: #5e5e5e;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

@media (max-width: 767px) {
  .boxContainer {
    flex-direction: column;
  }

  .landingButton {
    flex-basis: 100%;
  }
}
